<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/core-item/core-item.html">
<link rel="import" href="../bower_components/pushstate-anchor/src/pushstate-anchor.html">

<polymer-element name="sidebar-layout" attributes="selected" noscript>
  <template>
    <link rel="stylesheet" href="sidebar-layout.css">
    <core-scaffold>
      <core-header-panel navigation flex mode="seamed">
        <core-toolbar>Polymer Insta</core-toolbar>
        <core-item label="Ronnie Fieg" active?="{{selected == 'ronniefieg'}}">
          <a is="pushstate-anchor" href="/polymer-insta/"></a>
        </core-item>
        <core-item label="Victor Cruz" active?="{{selected == 'teamvic'}}">
          <a is="pushstate-anchor" href="/polymer-insta/teamvic"></a>
        </core-item>
        <core-item label="Adidas Hrvatska" active?="{{selected == 'adidashrvatska'}}">
          <a is="pushstate-anchor" href="/polymer-insta/adidashrvatska"></a>
        </core-item>
        <core-item label="asos_menswear" active?="{{selected == 'asos_menswear'}}">
          <a is="pushstate-anchor" href="/polymer-insta/asos_menswear"></a>
        </core-item>
        <core-item label="asos_jamesw" active?="{{selected == 'asos_jamesw'}}">
          <a is="pushstate-anchor" href="/polymer-insta/asos_jamesw"></a>
        </core-item>
        <core-item label="bhofficial" active?="{{selected == 'bhofficial'}}">
          <a is="pushstate-anchor" href="/polymer-insta/bhofficial"></a>
        </core-item>
        <core-item label="cultoflee" active?="{{selected == 'cultoflee'}}">
          <a is="pushstate-anchor" href="/polymer-insta/cultoflee"></a>
        </core-item>
        <core-item label="meundies" active?="{{selected == 'meundies'}}">
          <a is="pushstate-anchor" href="/polymer-insta/meundies"></a>
        </core-item>
        <core-item label="biancaelouise" active?="{{selected == 'biancaelouise'}}">
          <a is="pushstate-anchor" href="/polymer-insta/biancaelouise"></a>
        </core-item>
        <core-item label="mrwhisper" active?="{{selected == 'mrwhisper'}}">
          <a is="pushstate-anchor" href="/polymer-insta/mrwhisper"></a>
        </core-item>
        <core-item label="maryellenmatthewsnyc" active?="{{selected == 'maryellenmatthewsnyc'}}">
          <a is="pushstate-anchor" href="/polymer-insta/maryellenmatthewsnyc"></a>
        </core-item>
        <core-item label="chickswithcaps" active?="{{selected == 'chickswithcaps'}}">
          <a is="pushstate-anchor" href="/polymer-insta/chickswithcaps"></a>
        </core-item>
        <core-item label="cupofcouple" active?="{{selected == 'cupofcouple'}}">
          <a is="pushstate-anchor" href="/polymer-insta/cupofcouple"></a>
        </core-item>
        <core-item label="clothesmindedx3" active?="{{selected == 'clothesmindedx3'}}">
          <a is="pushstate-anchor" href="/polymer-insta/clothesmindedx3"></a>
        </core-item>
        <core-item label="ethanwhite" active?="{{selected == 'ethanwhite'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ethanwhite"></a>
        </core-item>
        <core-item label="cntraveler" active?="{{selected == 'cntraveler'}}">
          <a is="pushstate-anchor" href="/polymer-insta/cntraveler"></a>
        </core-item>
        <core-item label="trashhand" active?="{{selected == 'trashhand'}}">
          <a is="pushstate-anchor" href="/polymer-insta/trashhand"></a>
        </core-item>
        <core-item label="ochosystem" active?="{{selected == 'ochosystem'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ochosystem"></a>
        </core-item>
        <core-item label="bomb_babes" active?="{{selected == 'bomb_babes'}}">
          <a is="pushstate-anchor" href="/polymer-insta/bomb_babes"></a>
        </core-item>
        <core-item label="neta_alchimister" active?="{{selected == 'neta_alchimister'}}">
          <a is="pushstate-anchor" href="/polymer-insta/neta_alchimister"></a>
        </core-item>
        <core-item label="airows_" active?="{{selected == 'airows_'}}">
          <a is="pushstate-anchor" href="/polymer-insta/airows_"></a>
        </core-item>
        <core-item label="graymalin" active?="{{selected == 'graymalin'}}">
          <a is="pushstate-anchor" href="/polymer-insta/graymalin"></a>
        </core-item>
        <core-item label="desillusion" active?="{{selected == 'desillusion'}}">
          <a is="pushstate-anchor" href="/polymer-insta/desillusion"></a>
        </core-item>
        <core-item label="masonrosephoto" active?="{{selected == 'masonrosephoto'}}">
          <a is="pushstate-anchor" href="/polymer-insta/masonrosephoto"></a>
        </core-item>
        <core-item label="lifeof_riley" active?="{{selected == 'lifeof_riley'}}">
          <a is="pushstate-anchor" href="/polymer-insta/lifeof_riley"></a>
        </core-item>
        <core-item label="rubenhughes" active?="{{selected == 'rubenhughes'}}">
          <a is="pushstate-anchor" href="/polymer-insta/rubenhughes"></a>
        </core-item>
        <core-item label="vsco" active?="{{selected == 'vsco'}}">
          <a is="pushstate-anchor" href="/polymer-insta/vsco"></a>
        </core-item>
        <core-item label="afewstore" active?="{{selected == 'afewstore'}}">
          <a is="pushstate-anchor" href="/polymer-insta/afewstore"></a>
        </core-item>
        <core-item label="jgrvhvm" active?="{{selected == 'jgrvhvm'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jgrvhvm"></a>
        </core-item>
        <core-item label="happymundane" active?="{{selected == 'happymundane'}}">
          <a is="pushstate-anchor" href="/polymer-insta/happymundane"></a>
        </core-item>
        <core-item label="mrporterlive" active?="{{selected == 'mrporterlive'}}">
          <a is="pushstate-anchor" href="/polymer-insta/mrporterlive"></a>
        </core-item>
        <core-item label="lielaine" active?="{{selected == 'lielaine'}}">
          <a is="pushstate-anchor" href="/polymer-insta/lielaine"></a>
        </core-item>
        <core-item label="bellroy" active?="{{selected == 'bellroy'}}">
          <a is="pushstate-anchor" href="/polymer-insta/bellroy"></a>
        </core-item>
        <core-item label="opumo" active?="{{selected == 'opumo'}}">
          <a is="pushstate-anchor" href="/polymer-insta/opumo"></a>
        </core-item>
        <core-item label="thekooplesofficial" active?="{{selected == 'thekooplesofficial'}}">
          <a is="pushstate-anchor" href="/polymer-insta/thekooplesofficial"></a>
        </core-item>
        <core-item label="tommyhilfiger" active?="{{selected == 'tommyhilfiger'}}">
          <a is="pushstate-anchor" href="/polymer-insta/tommyhilfiger"></a>
        </core-item>
        <core-item label="ralphlauren" active?="{{selected == 'ralphlauren'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ralphlauren"></a>
        </core-item>
        <core-item label="menlook" active?="{{selected == 'menlook'}}">
          <a is="pushstate-anchor" href="/polymer-insta/menlook"></a>
        </core-item>
        <core-item label="trnknyc" active?="{{selected == 'trnknyc'}}">
          <a is="pushstate-anchor" href="/polymer-insta/trnknyc"></a>
        </core-item>
        <core-item label="gq" active?="{{selected == 'gq'}}">
          <a is="pushstate-anchor" href="/polymer-insta/gq"></a>
        </core-item>
        <core-item label="svbscription" active?="{{selected == 'svbscription'}}">
          <a is="pushstate-anchor" href="/polymer-insta/svbscription"></a>
        </core-item>
        <core-item label="uncrate" active?="{{selected == 'uncrate'}}">
          <a is="pushstate-anchor" href="/polymer-insta/uncrate"></a>
        </core-item>
        <core-item label="alice_gao" active?="{{selected == 'alice_gao'}}">
          <a is="pushstate-anchor" href="/polymer-insta/alice_gao"></a>
        </core-item>
        <core-item label="wmbrownproject" active?="{{selected == 'wmbrownproject'}}">
          <a is="pushstate-anchor" href="/polymer-insta/wmbrownproject"></a>
        </core-item>
        <core-item label="justinchung" active?="{{selected == 'justinchung'}}">
          <a is="pushstate-anchor" href="/polymer-insta/justinchung"></a>
        </core-item>
        <core-item label="killspencer" active?="{{selected == 'killspencer'}}">
          <a is="pushstate-anchor" href="/polymer-insta/killspencer"></a>
        </core-item>
        <core-item label="gearpatrol" active?="{{selected == 'gearpatrol'}}">
          <a is="pushstate-anchor" href="/polymer-insta/gearpatrol"></a>
        </core-item>
        <core-item label="knstrct" active?="{{selected == 'knstrct'}}">
          <a is="pushstate-anchor" href="/polymer-insta/knstrct"></a>
        </core-item>
        <core-item label="devinbrugman" active?="{{selected == 'devinbrugman'}}">
          <a is="pushstate-anchor" href="/polymer-insta/devinbrugman"></a>
        </core-item>
        <core-item label="lorenara__" active?="{{selected == 'lorenara__'}}">
          <a is="pushstate-anchor" href="/polymer-insta/lorenara__"></a>
        </core-item>
        <core-item label="insidehook" active?="{{selected == 'insidehook'}}">
          <a is="pushstate-anchor" href="/polymer-insta/insidehook"></a>
        </core-item>
        <core-item label="scarosso" active?="{{selected == 'scarosso'}}">
          <a is="pushstate-anchor" href="/polymer-insta/scarosso"></a>
        </core-item>
        <core-item label="supercompressor" active?="{{selected == 'supercompressor'}}">
          <a is="pushstate-anchor" href="/polymer-insta/supercompressor"></a>
        </core-item>
        <core-item label="marilynhue" active?="{{selected == 'marilynhue'}}">
          <a is="pushstate-anchor" href="/polymer-insta/marilynhue"></a>
        </core-item>
        <core-item label="designboom" active?="{{selected == 'designboom'}}">
          <a is="pushstate-anchor" href="/polymer-insta/designboom"></a>
        </core-item>
        <core-item label="philstockbridge" active?="{{selected == 'philstockbridge'}}">
          <a is="pushstate-anchor" href="/polymer-insta/philstockbridge"></a>
        </core-item>
        <core-item label="jerrylorenzo" active?="{{selected == 'jerrylorenzo'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jerrylorenzo"></a>
        </core-item>
        <core-item label="alexpenfornis" active?="{{selected == 'alexpenfornis'}}">
          <a is="pushstate-anchor" href="/polymer-insta/alexpenfornis"></a>
        </core-item>
        <core-item label="jose0ntiveros" active?="{{selected == 'jose0ntiveros'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jose0ntiveros"></a>
        </core-item>
        <core-item label="mattthw" active?="{{selected == 'mattthw'}}">
          <a is="pushstate-anchor" href="/polymer-insta/mattthw"></a>
        </core-item>
        <core-item label="amina.blue" active?="{{selected == 'amina.blue'}}">
          <a is="pushstate-anchor" href="/polymer-insta/amina.blue"></a>
        </core-item>
        <core-item label="varicktecson" active?="{{selected == 'varicktecson'}}">
          <a is="pushstate-anchor" href="/polymer-insta/varicktecson"></a>
        </core-item>
        <core-item label="sneakerb0b" active?="{{selected == 'sneakerb0b'}}">
          <a is="pushstate-anchor" href="/polymer-insta/sneakerb0b"></a>
        </core-item>
        <core-item label="complexsneakers" active?="{{selected == 'complexsneakers'}}">
          <a is="pushstate-anchor" href="/polymer-insta/complexsneakers"></a>
        </core-item>
        <core-item label="insighting" active?="{{selected == 'insighting'}}">
          <a is="pushstate-anchor" href="/polymer-insta/insighting"></a>
        </core-item>
        <core-item label="brendanpittman" active?="{{selected == 'brendanpittman'}}">
          <a is="pushstate-anchor" href="/polymer-insta/brendanpittman"></a>
        </core-item>
        <core-item label="imthejam" active?="{{selected == 'imthejam'}}">
          <a is="pushstate-anchor" href="/polymer-insta/imthejam"></a>
        </core-item>
        <core-item label="atrak" active?="{{selected == 'atrak'}}">
          <a is="pushstate-anchor" href="/polymer-insta/atrak"></a>
        </core-item>
        <core-item label="marcustroy" active?="{{selected == 'marcustroy'}}">
          <a is="pushstate-anchor" href="/polymer-insta/marcustroy"></a>
        </core-item>
        <core-item label="grantlegan" active?="{{selected == 'grantlegan'}}">
          <a is="pushstate-anchor" href="/polymer-insta/grantlegan"></a>
        </core-item>
        <core-item label="ohmynessa" active?="{{selected == 'ohmynessa'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ohmynessa"></a>
        </core-item>
        <core-item label="rhuigi" active?="{{selected == 'rhuigi'}}">
          <a is="pushstate-anchor" href="/polymer-insta/rhuigi"></a>
        </core-item>
        <core-item label="brooklynwheeler" active?="{{selected == 'brooklynwheeler'}}">
          <a is="pushstate-anchor" href="/polymer-insta/brooklynwheeler"></a>
        </core-item>
        <core-item label="mightykills" active?="{{selected == 'mightykills'}}">
          <a is="pushstate-anchor" href="/polymer-insta/mightykills"></a>
        </core-item>
        <core-item label="breerazink" active?="{{selected == 'breerazink'}}">
          <a is="pushstate-anchor" href="/polymer-insta/breerazink"></a>
        </core-item>
        <core-item label="itsneilb" active?="{{selected == 'itsneilb'}}">
          <a is="pushstate-anchor" href="/polymer-insta/itsneilb"></a>
        </core-item>
        <core-item label="fursty" active?="{{selected == 'fursty'}}">
          <a is="pushstate-anchor" href="/polymer-insta/fursty"></a>
        </core-item>
        <core-item label="nellycom" active?="{{selected == 'nellycom'}}">
          <a is="pushstate-anchor" href="/polymer-insta/nellycom"></a>
        </core-item>
        <core-item label="wrongrob" active?="{{selected == 'wrongrob'}}">
          <a is="pushstate-anchor" href="/polymer-insta/wrongrob"></a>
        </core-item>
        <core-item label="black_soap" active?="{{selected == 'black_soap'}}">
          <a is="pushstate-anchor" href="/polymer-insta/black_soap"></a>
        </core-item>
        <core-item label="trillval" active?="{{selected == 'trillval'}}">
          <a is="pushstate-anchor" href="/polymer-insta/trillval"></a>
        </core-item>
        <core-item label="evyoptics" active?="{{selected == 'evyoptics'}}">
          <a is="pushstate-anchor" href="/polymer-insta/evyoptics"></a>
        </core-item>
        <core-item label="nativechild" active?="{{selected == 'nativechild'}}">
          <a is="pushstate-anchor" href="/polymer-insta/nativechild"></a>
        </core-item>
        <core-item label="scottborrero" active?="{{selected == 'scottborrero'}}">
          <a is="pushstate-anchor" href="/polymer-insta/scottborrero"></a>
        </core-item>
        <core-item label="lastsuspect" active?="{{selected == 'lastsuspect'}}">
          <a is="pushstate-anchor" href="/polymer-insta/lastsuspect"></a>
        </core-item>
        <core-item label="mrbenbrown" active?="{{selected == 'mrbenbrown'}}">
          <a is="pushstate-anchor" href="/polymer-insta/mrbenbrown"></a>
        </core-item>
        <core-item label="marcushyde" active?="{{selected == 'marcushyde'}}">
          <a is="pushstate-anchor" href="/polymer-insta/marcushyde"></a>
        </core-item>
        <core-item label="jourdanz" active?="{{selected == 'jourdanz'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jourdanz"></a>
        </core-item>
        <core-item label="austinscotti" active?="{{selected == 'austinscotti'}}">
          <a is="pushstate-anchor" href="/polymer-insta/austinscotti"></a>
        </core-item>
        <core-item label="hahajoel" active?="{{selected == 'hahajoel'}}">
          <a is="pushstate-anchor" href="/polymer-insta/hahajoel"></a>
        </core-item>
        <core-item label="atothebed" active?="{{selected == 'atothebed'}}">
          <a is="pushstate-anchor" href="/polymer-insta/atothebed"></a>
        </core-item>
        <core-item label="jovell" active?="{{selected == 'jovell'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jovell"></a>
        </core-item>
        <core-item label="stilla" active?="{{selected == 'stilla'}}">
          <a is="pushstate-anchor" href="/polymer-insta/stilla"></a>
        </core-item>
        <core-item label="bluethegreat" active?="{{selected == 'bluethegreat'}}">
          <a is="pushstate-anchor" href="/polymer-insta/bluethegreat"></a>
        </core-item>
        <core-item label="drewmogenesis" active?="{{selected == 'drewmogenesis'}}">
          <a is="pushstate-anchor" href="/polymer-insta/drewmogenesis"></a>
        </core-item>
        <core-item label="moniqua" active?="{{selected == 'moniqua'}}">
          <a is="pushstate-anchor" href="/polymer-insta/moniqua"></a>
        </core-item>
        <core-item label="mattdoscher" active?="{{selected == 'mattdoscher'}}">
          <a is="pushstate-anchor" href="/polymer-insta/mattdoscher"></a>
        </core-item>
        <core-item label="kevinhart4real" active?="{{selected == 'kevinhart4real'}}">
          <a is="pushstate-anchor" href="/polymer-insta/kevinhart4real"></a>
        </core-item>
        <core-item label="visualsbypierre" active?="{{selected == 'visualsbypierre'}}">
          <a is="pushstate-anchor" href="/polymer-insta/visualsbypierre"></a>
        </core-item>
        <core-item label="hannahbronfman" active?="{{selected == 'hannahbronfman'}}">
          <a is="pushstate-anchor" href="/polymer-insta/hannahbronfman"></a>
        </core-item>
        <core-item label="1st" active?="{{selected == '1st'}}">
          <a is="pushstate-anchor" href="/polymer-insta/1st"></a>
        </core-item>
        <core-item label="muradosmann" active?="{{selected == 'muradosmann'}}">
          <a is="pushstate-anchor" href="/polymer-insta/muradosmann"></a>
        </core-item>
        <core-item label="deef_vico" active?="{{selected == 'deef_vico'}}">
          <a is="pushstate-anchor" href="/polymer-insta/deef_vico"></a>
        </core-item>
        <core-item label="emilyelaineoberg" active?="{{selected == 'emilyelaineoberg'}}">
          <a is="pushstate-anchor" href="/polymer-insta/emilyelaineoberg"></a>
        </core-item>
        <core-item label="imgerald" active?="{{selected == 'imgerald'}}">
          <a is="pushstate-anchor" href="/polymer-insta/imgerald"></a>
        </core-item>
        <core-item label="misterspoils" active?="{{selected == 'misterspoils'}}">
          <a is="pushstate-anchor" href="/polymer-insta/misterspoils"></a>
        </core-item>
        <core-item label="ihavethisthingwithfloors" active?="{{selected == 'ihavethisthingwithfloors'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ihavethisthingwithfloors"></a>
        </core-item>
        <core-item label="adidasoriginals" active?="{{selected == 'adidasoriginals'}}">
          <a is="pushstate-anchor" href="/polymer-insta/adidasoriginals"></a>
        </core-item>
        <core-item label="richkidsofinstagram" active?="{{selected == 'richkidsofinstagram'}}">
          <a is="pushstate-anchor" href="/polymer-insta/richkidsofinstagram"></a>
        </core-item>
        <core-item label="therichkidsoftehran" active?="{{selected == 'therichkidsoftehran'}}">
          <a is="pushstate-anchor" href="/polymer-insta/therichkidsoftehran"></a>
        </core-item>
        <core-item label="msalisbu" active?="{{selected == 'msalisbu'}}">
          <a is="pushstate-anchor" href="/polymer-insta/msalisbu"></a>
        </core-item>
        <core-item label="shckblst" active?="{{selected == 'shckblst'}}">
          <a is="pushstate-anchor" href="/polymer-insta/shckblst"></a>
        </core-item>
        <core-item label="vicomovement" active?="{{selected == 'vicomovement'}}">
          <a is="pushstate-anchor" href="/polymer-insta/vicomovement"></a>
        </core-item>
        <core-item label="kickjamestsc" active?="{{selected == 'kickjamestsc'}}">
          <a is="pushstate-anchor" href="/polymer-insta/kickjamestsc"></a>
        </core-item>
        <core-item label="nivescelsius" active?="{{selected == 'nivescelsius'}}">
          <a is="pushstate-anchor" href="/polymer-insta/nivescelsius"></a>
        </core-item>
        <core-item label="cathrinestub" active?="{{selected == 'cathrinestub'}}">
          <a is="pushstate-anchor" href="/polymer-insta/cathrinestub"></a>
        </core-item>
        <core-item label="ireneklaassen" active?="{{selected == 'ireneklaassen'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ireneklaassen"></a>
        </core-item>
        <core-item label="makariosjewelry" active?="{{selected == 'makariosjewelry'}}">
          <a is="pushstate-anchor" href="/polymer-insta/makariosjewelry"></a>
        </core-item>
        <core-item label="abigailratchford" active?="{{selected == 'abigailratchford'}}">
          <a is="pushstate-anchor" href="/polymer-insta/abigailratchford"></a>
        </core-item>
        <core-item label="johnschell" active?="{{selected == 'johnschell'}}">
          <a is="pushstate-anchor" href="/polymer-insta/johnschell"></a>
        </core-item>
        <core-item label="funkygine" active?="{{selected == 'funkygine'}}">
          <a is="pushstate-anchor" href="/polymer-insta/funkygine"></a>
        </core-item>
        <core-item label="nomadrj" active?="{{selected == 'nomadrj'}}">
          <a is="pushstate-anchor" href="/polymer-insta/nomadrj"></a>
        </core-item>
        <core-item label="stolbyshkin" active?="{{selected == 'stolbyshkin'}}">
          <a is="pushstate-anchor" href="/polymer-insta/stolbyshkin"></a>
        </core-item>
        <core-item label="alistair_t_y" active?="{{selected == 'alistair_t_y'}}">
          <a is="pushstate-anchor" href="/polymer-insta/alistair_t_y"></a>
        </core-item>
        <core-item label="jaredchambers" active?="{{selected == 'jaredchambers'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jaredchambers"></a>
        </core-item>
        <core-item label="christianweberstudio" active?="{{selected == 'christianweberstudio'}}">
          <a is="pushstate-anchor" href="/polymer-insta/christianweberstudio"></a>
        </core-item>
        <core-item label="austinmann" active?="{{selected == 'austinmann'}}">
          <a is="pushstate-anchor" href="/polymer-insta/austinmann"></a>
        </core-item>
        <core-item label="moment_lens" active?="{{selected == 'moment_lens'}}">
          <a is="pushstate-anchor" href="/polymer-insta/moment_lens"></a>
        </core-item>
        <core-item label="laurenpisciotta" active?="{{selected == 'laurenpisciotta'}}">
          <a is="pushstate-anchor" href="/polymer-insta/laurenpisciotta"></a>
        </core-item>
        <core-item label="equinox" active?="{{selected == 'equinox'}}">
          <a is="pushstate-anchor" href="/polymer-insta/equinox"></a>
        </core-item>
        <core-item label="brendanfallis" active?="{{selected == 'brendanfallis'}}">
          <a is="pushstate-anchor" href="/polymer-insta/brendanfallis"></a>
        </core-item>
        <core-item label="snarkitecture" active?="{{selected == 'snarkitecture'}}">
          <a is="pushstate-anchor" href="/polymer-insta/snarkitecture"></a>
        </core-item>
        <core-item label="insa_gram" active?="{{selected == 'insa_gram'}}">
          <a is="pushstate-anchor" href="/polymer-insta/insa_gram"></a>
        </core-item>
        <core-item label="lengyein" active?="{{selected == 'lengyein'}}">
          <a is="pushstate-anchor" href="/polymer-insta/lengyein"></a>
        </core-item>
        <core-item label="suetsai" active?="{{selected == 'suetsai'}}">
          <a is="pushstate-anchor" href="/polymer-insta/suetsai"></a>
        </core-item>
        <core-item label="mobilesneakers" active?="{{selected == 'mobilesneakers'}}">
          <a is="pushstate-anchor" href="/polymer-insta/mobilesneakers"></a>
        </core-item>
        <core-item label="jannid" active?="{{selected == 'jannid'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jannid"></a>
        </core-item>
        <core-item label="davegrutman" active?="{{selected == 'davegrutman'}}">
          <a is="pushstate-anchor" href="/polymer-insta/davegrutman"></a>
        </core-item>
        <core-item label="maclewiscreative" active?="{{selected == 'maclewiscreative'}}">
          <a is="pushstate-anchor" href="/polymer-insta/maclewiscreative"></a>
        </core-item>
        <core-item label="arsenicmagazine" active?="{{selected == 'arsenicmagazine'}}">
          <a is="pushstate-anchor" href="/polymer-insta/arsenicmagazine"></a>
        </core-item>
        <core-item label="iamnloren" active?="{{selected == 'iamnloren'}}">
          <a is="pushstate-anchor" href="/polymer-insta/iamnloren"></a>
        </core-item>
        <core-item label="fitnessontoast" active?="{{selected == 'fitnessontoast'}}">
          <a is="pushstate-anchor" href="/polymer-insta/fitnessontoast"></a>
        </core-item>
        <core-item label="kathyryan1" active?="{{selected == 'kathyryan1'}}">
          <a is="pushstate-anchor" href="/polymer-insta/kathyryan1"></a>
        </core-item>
        <core-item label="haileebobailee" active?="{{selected == 'haileebobailee'}}">
          <a is="pushstate-anchor" href="/polymer-insta/haileebobailee"></a>
        </core-item>
        <core-item label="selwynsenatori" active?="{{selected == 'selwynsenatori'}}">
          <a is="pushstate-anchor" href="/polymer-insta/selwynsenatori"></a>
        </core-item>
        <core-item label="oldmanalan" active?="{{selected == 'oldmanalan'}}">
          <a is="pushstate-anchor" href="/polymer-insta/oldmanalan"></a>
        </core-item>
        <core-item label="jaredfollowill" active?="{{selected == 'jaredfollowill'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jaredfollowill"></a>
        </core-item>
        <core-item label="kyliejenner" active?="{{selected == 'kyliejenner'}}">
          <a is="pushstate-anchor" href="/polymer-insta/kyliejenner"></a>
        </core-item>
        <core-item label="johanneshuebl" active?="{{selected == 'johanneshuebl'}}">
          <a is="pushstate-anchor" href="/polymer-insta/johanneshuebl"></a>
        </core-item>
        <core-item label="danrubin" active?="{{selected == 'danrubin'}}">
          <a is="pushstate-anchor" href="/polymer-insta/danrubin"></a>
        </core-item>
        <core-item label="jumpman23" active?="{{selected == 'jumpman23'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jumpman23"></a>
        </core-item>
        <core-item label="niykeeheaton" active?="{{selected == 'niykeeheaton'}}">
          <a is="pushstate-anchor" href="/polymer-insta/niykeeheaton"></a>
        </core-item>
        <core-item label="subtypestore" active?="{{selected == 'subtypestore'}}">
          <a is="pushstate-anchor" href="/polymer-insta/subtypestore"></a>
        </core-item>
        <core-item label="arnocostalot" active?="{{selected == 'arnocostalot'}}">
          <a is="pushstate-anchor" href="/polymer-insta/arnocostalot"></a>
        </core-item>
        <core-item label="lifewithoutandy" active?="{{selected == 'lifewithoutandy'}}">
          <a is="pushstate-anchor" href="/polymer-insta/lifewithoutandy"></a>
        </core-item>
        <core-item label="everydaycarry" active?="{{selected == 'everydaycarry'}}">
          <a is="pushstate-anchor" href="/polymer-insta/everydaycarry"></a>
        </core-item>
        <core-item label="drewjdizon" active?="{{selected == 'drewjdizon'}}">
          <a is="pushstate-anchor" href="/polymer-insta/drewjdizon"></a>
        </core-item>
        <core-item label="ye_lil" active?="{{selected == 'ye_lil'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ye_lil"></a>
        </core-item>
        <core-item label="natgeo" active?="{{selected == 'natgeo'}}">
          <a is="pushstate-anchor" href="/polymer-insta/natgeo"></a>
        </core-item>
        <core-item label="max_ross" active?="{{selected == 'max_ross'}}">
          <a is="pushstate-anchor" href="/polymer-insta/max_ross"></a>
        </core-item>
        <core-item label="uknowjaejung" active?="{{selected == 'uknowjaejung'}}">
          <a is="pushstate-anchor" href="/polymer-insta/uknowjaejung"></a>
        </core-item>
        <core-item label="tashoakley" active?="{{selected == 'tashoakley'}}">
          <a is="pushstate-anchor" href="/polymer-insta/tashoakley"></a>
        </core-item>
        <core-item label="nopattern" active?="{{selected == 'nopattern'}}">
          <a is="pushstate-anchor" href="/polymer-insta/nopattern"></a>
        </core-item>
        <core-item label="barstool_sports" active?="{{selected == 'barstool_sports'}}">
          <a is="pushstate-anchor" href="/polymer-insta/barstool_sports"></a>
        </core-item>
        <core-item label="theivez" active?="{{selected == 'theivez'}}">
          <a is="pushstate-anchor" href="/polymer-insta/theivez"></a>
        </core-item>
        <core-item label="hardwell" active?="{{selected == 'hardwell'}}">
          <a is="pushstate-anchor" href="/polymer-insta/hardwell"></a>
        </core-item>
        <core-item label="gabtaieb" active?="{{selected == 'gabtaieb'}}">
          <a is="pushstate-anchor" href="/polymer-insta/gabtaieb"></a>
        </core-item>
        <core-item label="tci_theclassyissue" active?="{{selected == 'tci_theclassyissue'}}">
          <a is="pushstate-anchor" href="/polymer-insta/tci_theclassyissue"></a>
        </core-item>
        <core-item label="martinmedus" active?="{{selected == 'martinmedus'}}">
          <a is="pushstate-anchor" href="/polymer-insta/martinmedus"></a>
        </core-item>
        <core-item label="ayejames" active?="{{selected == 'ayejames'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ayejames"></a>
        </core-item>
        <core-item label="flyknitclub" active?="{{selected == 'flyknitclub'}}">
          <a is="pushstate-anchor" href="/polymer-insta/flyknitclub"></a>
        </core-item>
        <core-item label="humzadeas" active?="{{selected == 'humzadeas'}}">
          <a is="pushstate-anchor" href="/polymer-insta/humzadeas"></a>
        </core-item>
        <core-item label="zakshelhamer" active?="{{selected == 'zakshelhamer'}}">
          <a is="pushstate-anchor" href="/polymer-insta/zakshelhamer"></a>
        </core-item>
        <core-item label="lifesabreeze" active?="{{selected == 'lifesabreeze'}}">
          <a is="pushstate-anchor" href="/polymer-insta/lifesabreeze"></a>
        </core-item>
        <core-item label="oskar_brewitz" active?="{{selected == 'oskar_brewitz'}}">
          <a is="pushstate-anchor" href="/polymer-insta/oskar_brewitz"></a>
        </core-item>
        <core-item label="dillonfrancis" active?="{{selected == 'dillonfrancis'}}">
          <a is="pushstate-anchor" href="/polymer-insta/dillonfrancis"></a>
        </core-item>
        <core-item label="imitatemodern" active?="{{selected == 'imitatemodern'}}">
          <a is="pushstate-anchor" href="/polymer-insta/imitatemodern"></a>
        </core-item>
        <core-item label="annanystrom" active?="{{selected == 'annanystrom'}}">
          <a is="pushstate-anchor" href="/polymer-insta/annanystrom"></a>
        </core-item>
        <core-item label="ne_street" active?="{{selected == 'ne_street'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ne_street"></a>
        </core-item>
        <core-item label="holdenfocus" active?="{{selected == 'holdenfocus'}}">
          <a is="pushstate-anchor" href="/polymer-insta/holdenfocus"></a>
        </core-item>
        <core-item label="ldn2hk" active?="{{selected == 'ldn2hk'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ldn2hk"></a>
        </core-item>
        <core-item label="sneakersandcolors" active?="{{selected == 'sneakersandcolors'}}">
          <a is="pushstate-anchor" href="/polymer-insta/sneakersandcolors"></a>
        </core-item>
        <core-item label="johnelliottco" active?="{{selected == 'johnelliottco'}}">
          <a is="pushstate-anchor" href="/polymer-insta/johnelliottco"></a>
        </core-item>
        <core-item label="johnelliott_" active?="{{selected == 'johnelliott_'}}">
          <a is="pushstate-anchor" href="/polymer-insta/johnelliott_"></a>
        </core-item>
        <core-item label="adamgoldston" active?="{{selected == 'adamgoldston'}}">
          <a is="pushstate-anchor" href="/polymer-insta/adamgoldston"></a>
        </core-item>
        <core-item label="_modernfit" active?="{{selected == '_modernfit'}}">
          <a is="pushstate-anchor" href="/polymer-insta/_modernfit"></a>
        </core-item>
        <core-item label="nathanvanhook" active?="{{selected == 'nathanvanhook'}}">
          <a is="pushstate-anchor" href="/polymer-insta/nathanvanhook"></a>
        </core-item>
        <core-item label="tomkilbey" active?="{{selected == 'tomkilbey'}}">
          <a is="pushstate-anchor" href="/polymer-insta/tomkilbey"></a>
        </core-item>
        <core-item label="piamuehlenbeck" active?="{{selected == 'piamuehlenbeck'}}">
          <a is="pushstate-anchor" href="/polymer-insta/piamuehlenbeck"></a>
        </core-item>
        <core-item label="helenowen" active?="{{selected == 'helenowen'}}">
          <a is="pushstate-anchor" href="/polymer-insta/helenowen"></a>
        </core-item>
        <core-item label="oscar_castillo" active?="{{selected == 'oscar_castillo'}}">
          <a is="pushstate-anchor" href="/polymer-insta/oscar_castillo"></a>
        </core-item>
        <core-item label="kustoo" active?="{{selected == 'kustoo'}}">
          <a is="pushstate-anchor" href="/polymer-insta/kustoo"></a>
        </core-item>
        <core-item label="pamela_rf" active?="{{selected == 'pamela_rf'}}">
          <a is="pushstate-anchor" href="/polymer-insta/pamela_rf"></a>
        </core-item>
        <core-item label="spinninrecords" active?="{{selected == 'spinninrecords'}}">
          <a is="pushstate-anchor" href="/polymer-insta/spinninrecords"></a>
        </core-item>
        <core-item label="jayscale" active?="{{selected == 'jayscale'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jayscale"></a>
        </core-item>
        <core-item label="deadmau5" active?="{{selected == 'deadmau5'}}">
          <a is="pushstate-anchor" href="/polymer-insta/deadmau5"></a>
        </core-item>
        <core-item label="billyhuxley" active?="{{selected == 'billyhuxley'}}">
          <a is="pushstate-anchor" href="/polymer-insta/billyhuxley"></a>
        </core-item>
        <core-item label="yassinesenissay" active?="{{selected == 'yassinesenissay'}}">
          <a is="pushstate-anchor" href="/polymer-insta/yassinesenissay"></a>
        </core-item>
        <core-item label="francky.b" active?="{{selected == 'francky.b'}}">
          <a is="pushstate-anchor" href="/polymer-insta/francky.b"></a>
        </core-item>
        <core-item label="olavstubberud" active?="{{selected == 'olavstubberud'}}">
          <a is="pushstate-anchor" href="/polymer-insta/olavstubberud"></a>
        </core-item>
        <core-item label="carolineslatteli" active?="{{selected == 'carolineslatteli'}}">
          <a is="pushstate-anchor" href="/polymer-insta/carolineslatteli"></a>
        </core-item>
        <core-item label="arnodefrance" active?="{{selected == 'arnodefrance'}}">
          <a is="pushstate-anchor" href="/polymer-insta/arnodefrance"></a>
        </core-item>
        <core-item label="kygomusic" active?="{{selected == 'kygomusic'}}">
          <a is="pushstate-anchor" href="/polymer-insta/kygomusic"></a>
        </core-item>
        <core-item label="goodlife.magazine" active?="{{selected == 'goodlife.magazine'}}">
          <a is="pushstate-anchor" href="/polymer-insta/goodlife.magazine"></a>
        </core-item>
        <core-item label="thechainsmokers" active?="{{selected == 'thechainsmokers'}}">
          <a is="pushstate-anchor" href="/polymer-insta/thechainsmokers"></a>
        </core-item>
        <core-item label="arab_lincoln" active?="{{selected == 'arab_lincoln'}}">
          <a is="pushstate-anchor" href="/polymer-insta/arab_lincoln"></a>
        </core-item>
        <core-item label="j.ld" active?="{{selected == 'j.ld'}}">
          <a is="pushstate-anchor" href="/polymer-insta/j.ld"></a>
        </core-item>
        <core-item label="knowwear" active?="{{selected == 'knowwear'}}">
          <a is="pushstate-anchor" href="/polymer-insta/knowwear"></a>
        </core-item>
        <core-item label="noblegent" active?="{{selected == 'noblegent'}}">
          <a is="pushstate-anchor" href="/polymer-insta/noblegent"></a>
        </core-item>
        <core-item label="streetetiquette" active?="{{selected == 'streetetiquette'}}">
          <a is="pushstate-anchor" href="/polymer-insta/streetetiquette"></a>
        </core-item>
        <core-item label="juice7185" active?="{{selected == 'juice7185'}}">
          <a is="pushstate-anchor" href="/polymer-insta/juice7185"></a>
        </core-item>
        <core-item label="ini.helen" active?="{{selected == 'ini.helen'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ini.helen"></a>
        </core-item>
        <core-item label="laurenseindhoven" active?="{{selected == 'laurenseindhoven'}}">
          <a is="pushstate-anchor" href="/polymer-insta/laurenseindhoven"></a>
        </core-item>
        <core-item label="alkarus" active?="{{selected == 'alkarus'}}">
          <a is="pushstate-anchor" href="/polymer-insta/alkarus"></a>
        </core-item>
        <core-item label="rizkyl" active?="{{selected == 'rizkyl'}}">
          <a is="pushstate-anchor" href="/polymer-insta/rizkyl"></a>
        </core-item>
        <core-item label="ridiculouslifestyle" active?="{{selected == 'ridiculouslifestyle'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ridiculouslifestyle"></a>
        </core-item>
        <core-item label="thechive" active?="{{selected == 'thechive'}}">
          <a is="pushstate-anchor" href="/polymer-insta/thechive"></a>
        </core-item>
        <core-item label="nervomusic" active?="{{selected == 'nervomusic'}}">
          <a is="pushstate-anchor" href="/polymer-insta/nervomusic"></a>
        </core-item>
        <core-item label="jonestud" active?="{{selected == 'jonestud'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jonestud"></a>
        </core-item>
        <core-item label="mandyjiroux" active?="{{selected == 'mandyjiroux'}}">
          <a is="pushstate-anchor" href="/polymer-insta/mandyjiroux"></a>
        </core-item>
        <core-item label="luxquotes" active?="{{selected == 'luxquotes'}}">
          <a is="pushstate-anchor" href="/polymer-insta/luxquotes"></a>
        </core-item>
        <core-item label="dopedheaven" active?="{{selected == 'dopedheaven'}}">
          <a is="pushstate-anchor" href="/polymer-insta/dopedheaven"></a>
        </core-item>
        <core-item label="amiliana_1026" active?="{{selected == 'amiliana_1026'}}">
          <a is="pushstate-anchor" href="/polymer-insta/amiliana_1026"></a>
        </core-item>
        <core-item label="dirtybadgal" active?="{{selected == 'dirtybadgal'}}">
          <a is="pushstate-anchor" href="/polymer-insta/dirtybadgal"></a>
        </core-item>
        <core-item label="dirtyfeelings" active?="{{selected == 'dirtyfeelings'}}">
          <a is="pushstate-anchor" href="/polymer-insta/dirtyfeelings"></a>
        </core-item>
        <core-item label="Outfitfromabove" active?="{{selected == 'Outfitfromabove'}}">
          <a is="pushstate-anchor" href="/polymer-insta/Outfitfromabove"></a>
        </core-item>
        <core-item label="todayshype" active?="{{selected == 'todayshype'}}">
          <a is="pushstate-anchor" href="/polymer-insta/todayshype"></a>
        </core-item>
        <core-item label="createexplore" active?="{{selected == 'createexplore'}}">
          <a is="pushstate-anchor" href="/polymer-insta/createexplore"></a>
        </core-item>
        <core-item label="diplo" active?="{{selected == 'diplo'}}">
          <a is="pushstate-anchor" href="/polymer-insta/diplo"></a>
        </core-item>
        <core-item label="nick.ramirez0" active?="{{selected == 'nick.ramirez0'}}">
          <a is="pushstate-anchor" href="/polymer-insta/nick.ramirez0"></a>
        </core-item>
        <core-item label="boutinela" active?="{{selected == 'boutinela'}}">
          <a is="pushstate-anchor" href="/polymer-insta/boutinela"></a>
        </core-item>
        <core-item label="yurasadko" active?="{{selected == 'yurasadko'}}">
          <a is="pushstate-anchor" href="/polymer-insta/yurasadko"></a>
        </core-item>
        <core-item label="matissedj" active?="{{selected == 'matissedj'}}">
          <a is="pushstate-anchor" href="/polymer-insta/matissedj"></a>
        </core-item>
        <core-item label="matissesadko" active?="{{selected == 'matissesadko'}}">
          <a is="pushstate-anchor" href="/polymer-insta/matissesadko"></a>
        </core-item>
        <core-item label="allsizeeverything" active?="{{selected == 'allsizeeverything'}}">
          <a is="pushstate-anchor" href="/polymer-insta/allsizeeverything"></a>
        </core-item>
        <core-item label="dimitrivangeliswyman" active?="{{selected == 'dimitrivangeliswyman'}}">
          <a is="pushstate-anchor" href="/polymer-insta/dimitrivangeliswyman"></a>
        </core-item>
        <core-item label="afrojack" active?="{{selected == 'afrojack'}}">
          <a is="pushstate-anchor" href="/polymer-insta/afrojack"></a>
        </core-item>
        <core-item label="finalkid" active?="{{selected == 'finalkid'}}">
          <a is="pushstate-anchor" href="/polymer-insta/finalkid"></a>
        </core-item>
        <core-item label="visualbass" active?="{{selected == 'visualbass'}}">
          <a is="pushstate-anchor" href="/polymer-insta/visualbass"></a>
        </core-item>
        <core-item label="alesso" active?="{{selected == 'alesso'}}">
          <a is="pushstate-anchor" href="/polymer-insta/alesso"></a>
        </core-item>
        <core-item label="jimmywooooo" active?="{{selected == 'jimmywooooo'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jimmywooooo"></a>
        </core-item>
        <core-item label="rukes" active?="{{selected == 'rukes'}}">
          <a is="pushstate-anchor" href="/polymer-insta/rukes"></a>
        </core-item>
        <core-item label="rudgrcom" active?="{{selected == 'rudgrcom'}}">
          <a is="pushstate-anchor" href="/polymer-insta/rudgrcom"></a>
        </core-item>
        <core-item label="deaup" active?="{{selected == 'deaup'}}">
          <a is="pushstate-anchor" href="/polymer-insta/deaup"></a>
        </core-item>
        <core-item label="sylvainarmand" active?="{{selected == 'sylvainarmand'}}">
          <a is="pushstate-anchor" href="/polymer-insta/sylvainarmand"></a>
        </core-item>
        <core-item label="highsnobiety" active?="{{selected == 'highsnobiety'}}">
          <a is="pushstate-anchor" href="/polymer-insta/highsnobiety"></a>
        </core-item>
        <core-item label="hypebeast" active?="{{selected == 'hypebeast'}}">
          <a is="pushstate-anchor" href="/polymer-insta/hypebeast"></a>
        </core-item>
        <core-item label="snkrhds" active?="{{selected == 'snkrhds'}}">
          <a is="pushstate-anchor" href="/polymer-insta/snkrhds"></a>
        </core-item>
        <core-item label="an21" active?="{{selected == 'an21'}}">
          <a is="pushstate-anchor" href="/polymer-insta/an21"></a>
        </core-item>
        <core-item label="sneakersncoffee" active?="{{selected == 'sneakersncoffee'}}">
          <a is="pushstate-anchor" href="/polymer-insta/sneakersncoffee"></a>
        </core-item>
        <core-item label="atdh" active?="{{selected == 'atdh'}}">
          <a is="pushstate-anchor" href="/polymer-insta/atdh"></a>
        </core-item>
        <core-item label="lilwil" active?="{{selected == 'lilwil'}}">
          <a is="pushstate-anchor" href="/polymer-insta/lilwil"></a>
        </core-item>
        <core-item label="mellowedhigh" active?="{{selected == 'mellowedhigh'}}">
          <a is="pushstate-anchor" href="/polymer-insta/mellowedhigh"></a>
        </core-item>
        <core-item label="steelos" active?="{{selected == 'steelos'}}">
          <a is="pushstate-anchor" href="/polymer-insta/steelos"></a>
        </core-item>
        <core-item label="stacytarver" active?="{{selected == 'stacytarver'}}">
          <a is="pushstate-anchor" href="/polymer-insta/stacytarver"></a>
        </core-item>
        <core-item label="coffeenclothes" active?="{{selected == 'coffeenclothes'}}">
          <a is="pushstate-anchor" href="/polymer-insta/coffeenclothes"></a>
        </core-item>
        <core-item label="alexmaeland" active?="{{selected == 'alexmaeland'}}">
          <a is="pushstate-anchor" href="/polymer-insta/alexmaeland"></a>
        </core-item>
        <core-item label="jcrew" active?="{{selected == 'jcrew'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jcrew"></a>
        </core-item>
        <core-item label="sneakerhand" active?="{{selected == 'sneakerhand'}}">
          <a is="pushstate-anchor" href="/polymer-insta/sneakerhand"></a>
        </core-item>
        <core-item label="ronsimpson" active?="{{selected == 'ronsimpson'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ronsimpson"></a>
        </core-item>
        <core-item label="martingarrix" active?="{{selected == 'martingarrix'}}">
          <a is="pushstate-anchor" href="/polymer-insta/martingarrix"></a>
        </core-item>
        <core-item label="danbilzerian" active?="{{selected == 'danbilzerian'}}">
          <a is="pushstate-anchor" href="/polymer-insta/danbilzerian"></a>
        </core-item>
        <core-item label="kicksonmyfeet_" active?="{{selected == 'kicksonmyfeet_'}}">
          <a is="pushstate-anchor" href="/polymer-insta/kicksonmyfeet_"></a>
        </core-item>
        <core-item label="shooster_the_sneakermeister" active?="{{selected == 'shooster_the_sneakermeister'}}">
          <a is="pushstate-anchor" href="/polymer-insta/shooster_the_sneakermeister"></a>
        </core-item>
        <core-item label="noss_sneakerstore" active?="{{selected == 'noss_sneakerstore'}}">
          <a is="pushstate-anchor" href="/polymer-insta/noss_sneakerstore"></a>
        </core-item>
        <core-item label="squatguide" active?="{{selected == 'squatguide'}}">
          <a is="pushstate-anchor" href="/polymer-insta/squatguide"></a>
        </core-item>
        <core-item label="karmaloop_uk" active?="{{selected == 'karmaloop_uk'}}">
          <a is="pushstate-anchor" href="/polymer-insta/karmaloop_uk"></a>
        </core-item>
        <core-item label="naturel" active?="{{selected == 'naturel'}}">
          <a is="pushstate-anchor" href="/polymer-insta/naturel"></a>
        </core-item>
        <core-item label="porhomme" active?="{{selected == 'porhomme'}}">
          <a is="pushstate-anchor" href="/polymer-insta/porhomme"></a>
        </core-item>
        <core-item label="sartoriallyinc" active?="{{selected == 'sartoriallyinc'}}">
          <a is="pushstate-anchor" href="/polymer-insta/sartoriallyinc"></a>
        </core-item>
        <core-item label="jlp8" active?="{{selected == 'jlp8'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jlp8"></a>
        </core-item>
        <core-item label="publishbrand" active?="{{selected == 'publishbrand'}}">
          <a is="pushstate-anchor" href="/polymer-insta/publishbrand"></a>
        </core-item>
        <core-item label="revolveman" active?="{{selected == 'revolveman'}}">
          <a is="pushstate-anchor" href="/polymer-insta/revolveman"></a>
        </core-item>
        <core-item label="badboi" active?="{{selected == 'badboi'}}">
          <a is="pushstate-anchor" href="/polymer-insta/badboi"></a>
        </core-item>
        <core-item label="mrbrando3" active?="{{selected == 'mrbrando3'}}">
          <a is="pushstate-anchor" href="/polymer-insta/mrbrando3"></a>
        </core-item>
        <core-item label="alexandriatothemax" active?="{{selected == 'alexandriatothemax'}}">
          <a is="pushstate-anchor" href="/polymer-insta/alexandriatothemax"></a>
        </core-item>
        <core-item label="deltoroshoes" active?="{{selected == 'deltoroshoes'}}">
          <a is="pushstate-anchor" href="/polymer-insta/deltoroshoes"></a>
        </core-item>
        <core-item label="shanebryant" active?="{{selected == 'shanebryant'}}">
          <a is="pushstate-anchor" href="/polymer-insta/shanebryant"></a>
        </core-item>
        <core-item label="thignat" active?="{{selected == 'thignat'}}">
          <a is="pushstate-anchor" href="/polymer-insta/thignat"></a>
        </core-item>
        <core-item label="jessieandrews" active?="{{selected == 'jessieandrews'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jessieandrews"></a>
        </core-item>
        <core-item label="samalive" active?="{{selected == 'samalive'}}">
          <a is="pushstate-anchor" href="/polymer-insta/samalive"></a>
        </core-item>
        <core-item label="chrisstamp" active?="{{selected == 'chrisstamp'}}">
          <a is="pushstate-anchor" href="/polymer-insta/chrisstamp"></a>
        </core-item>
        <core-item label="monsieurcoms" active?="{{selected == 'monsieurcoms'}}">
          <a is="pushstate-anchor" href="/polymer-insta/monsieurcoms"></a>
        </core-item>
        <core-item label="gypsyonephoto" active?="{{selected == 'gypsyonephoto'}}">
          <a is="pushstate-anchor" href="/polymer-insta/gypsyonephoto"></a>
        </core-item>
        <core-item label="kenneedd" active?="{{selected == 'kenneedd'}}">
          <a is="pushstate-anchor" href="/polymer-insta/kenneedd"></a>
        </core-item>
        <core-item label="jordan_joe" active?="{{selected == 'jordan_joe'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jordan_joe"></a>
        </core-item>
        <core-item label="gsrnn" active?="{{selected == 'gsrnn'}}">
          <a is="pushstate-anchor" href="/polymer-insta/gsrnn"></a>
        </core-item>
        <core-item label="takubeats" active?="{{selected == 'takubeats'}}">
          <a is="pushstate-anchor" href="/polymer-insta/takubeats"></a>
        </core-item>
        <core-item label="bludshot" active?="{{selected == 'bludshot'}}">
          <a is="pushstate-anchor" href="/polymer-insta/bludshot"></a>
        </core-item>
        <core-item label="team_cozy" active?="{{selected == 'team_cozy'}}">
          <a is="pushstate-anchor" href="/polymer-insta/team_cozy"></a>
        </core-item>
        <core-item label="yesjulz" active?="{{selected == 'yesjulz'}}">
          <a is="pushstate-anchor" href="/polymer-insta/yesjulz"></a>
        </core-item>
        <core-item label="ashleysky" active?="{{selected == 'ashleysky'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ashleysky"></a>
        </core-item>
        <core-item label="qulinez" active?="{{selected == 'qulinez'}}">
          <a is="pushstate-anchor" href="/polymer-insta/qulinez"></a>
        </core-item>
        <core-item label="savannaheleven" active?="{{selected == 'savannaheleven'}}">
          <a is="pushstate-anchor" href="/polymer-insta/savannaheleven"></a>
        </core-item>
        <core-item label="dzekoandtorres" active?="{{selected == 'dzekoandtorres'}}">
          <a is="pushstate-anchor" href="/polymer-insta/dzekoandtorres"></a>
        </core-item>
        <core-item label="cazzette" active?="{{selected == 'cazzette'}}">
          <a is="pushstate-anchor" href="/polymer-insta/cazzette"></a>
        </core-item>
        <core-item label="jonoparkerphotography" active?="{{selected == 'jonoparkerphotography'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jonoparkerphotography"></a>
        </core-item>
        <core-item label="noirrob" active?="{{selected == 'noirrob'}}">
          <a is="pushstate-anchor" href="/polymer-insta/noirrob"></a>
        </core-item>
        <core-item label="nickyromero" active?="{{selected == 'nickyromero'}}">
          <a is="pushstate-anchor" href="/polymer-insta/nickyromero"></a>
        </core-item>
        <core-item label="normandoray" active?="{{selected == 'normandoray'}}">
          <a is="pushstate-anchor" href="/polymer-insta/normandoray"></a>
        </core-item>
        <core-item label="nuneztrip" active?="{{selected == 'nuneztrip'}}">
          <a is="pushstate-anchor" href="/polymer-insta/nuneztrip"></a>
        </core-item>
        <core-item label="kickgameuk" active?="{{selected == 'kickgameuk'}}">
          <a is="pushstate-anchor" href="/polymer-insta/kickgameuk"></a>
        </core-item>
        <core-item label="charlottemckinney" active?="{{selected == 'charlottemckinney'}}">
          <a is="pushstate-anchor" href="/polymer-insta/charlottemckinney"></a>
        </core-item>
        <core-item label="dailymovement" active?="{{selected == 'dailymovement'}}">
          <a is="pushstate-anchor" href="/polymer-insta/dailymovement"></a>
        </core-item>
        <core-item label="petewilliams" active?="{{selected == 'petewilliams'}}">
          <a is="pushstate-anchor" href="/polymer-insta/petewilliams"></a>
        </core-item>
        <core-item label="easyotabor" active?="{{selected == 'easyotabor'}}">
          <a is="pushstate-anchor" href="/polymer-insta/easyotabor"></a>
        </core-item>
        <core-item label="alexandrabring" active?="{{selected == 'alexandrabring'}}">
          <a is="pushstate-anchor" href="/polymer-insta/alexandrabring"></a>
        </core-item>
        <core-item label="teddysantis" active?="{{selected == 'teddysantis'}}">
          <a is="pushstate-anchor" href="/polymer-insta/teddysantis"></a>
        </core-item>
        <core-item label="derick_g" active?="{{selected == 'derick_g'}}">
          <a is="pushstate-anchor" href="/polymer-insta/derick_g"></a>
        </core-item>
        <core-item label="lisaolssonblog" active?="{{selected == 'lisaolssonblog'}}">
          <a is="pushstate-anchor" href="/polymer-insta/lisaolssonblog"></a>
        </core-item>
        <core-item label="ingrosso" active?="{{selected == 'ingrosso'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ingrosso"></a>
        </core-item>
        <core-item label="isabeladrian" active?="{{selected == 'isabeladrian'}}">
          <a is="pushstate-anchor" href="/polymer-insta/isabeladrian"></a>
        </core-item>
        <core-item label="nikesportswear" active?="{{selected == 'nikesportswear'}}">
          <a is="pushstate-anchor" href="/polymer-insta/nikesportswear"></a>
        </core-item>
        <core-item label="miraclewatts00" active?="{{selected == 'miraclewatts00'}}">
          <a is="pushstate-anchor" href="/polymer-insta/miraclewatts00"></a>
        </core-item>
        <core-item label="jenselter" active?="{{selected == 'jenselter'}}">
          <a is="pushstate-anchor" href="/polymer-insta/jenselter"></a>
        </core-item>
        <core-item label="motivationforfitness" active?="{{selected == 'motivationforfitness'}}">
          <a is="pushstate-anchor" href="/polymer-insta/motivationforfitness"></a>
        </core-item>
        <core-item label="anastasiaashley" active?="{{selected == 'anastasiaashley'}}">
          <a is="pushstate-anchor" href="/polymer-insta/anastasiaashley"></a>
        </core-item>
        <core-item label="axwell" active?="{{selected == 'axwell'}}">
          <a is="pushstate-anchor" href="/polymer-insta/axwell"></a>
        </core-item>
        <core-item label="13thwitness" active?="{{selected == '13thwitness'}}">
          <a is="pushstate-anchor" href="/polymer-insta/13thwitness"></a>
        </core-item>
        <core-item label="dennistodisco" active?="{{selected == 'dennistodisco'}}">
          <a is="pushstate-anchor" href="/polymer-insta/dennistodisco"></a>
        </core-item>
        <core-item label="thematerialist1" active?="{{selected == 'thematerialist1'}}">
          <a is="pushstate-anchor" href="/polymer-insta/thematerialist1"></a>
        </core-item>
        <core-item label="ste_wing" active?="{{selected == 'ste_wing'}}">
          <a is="pushstate-anchor" href="/polymer-insta/ste_wing"></a>
        </core-item>
        <core-item label="johngeiger_" active?="{{selected == 'johngeiger_'}}">
          <a is="pushstate-anchor" href="/polymer-insta/johngeiger_"></a>
        </core-item>
        <core-item label="t_glick" active?="{{selected == 't_glick'}}">
          <a is="pushstate-anchor" href="/polymer-insta/t_glick"></a>
        </core-item>
        <core-item label="outfitgrid" active?="{{selected == 'outfitgrid'}}">
          <a is="pushstate-anchor" href="/polymer-insta/outfitgrid"></a>
        </core-item>
        <core-item label="steveangello" active?="{{selected == 'steveangello'}}">
          <a is="pushstate-anchor" href="/polymer-insta/steveangello"></a>
        </core-item>
        <core-item label="kimkardashian" active?="{{selected == 'kimkardashian'}}">
          <a is="pushstate-anchor" href="/polymer-insta/kimkardashian"></a>
        </core-item>
      </core-header-panel>
      <div tool>
        <content select=".title"></content>
      </div>
      <div class="content">
        <content></content>
      </div>
    </core-scaffold>
  </template>
</polymer-element>
<script>
  var querySelector = document.querySelector.bind(document); // selectori
  var querySelectorAll = document.querySelectorAll.bind(document); // selectori za each / ponavljajuce elemente
  var coreItem = shadowRoot.querySelectorAll('core-item');
</script>
